{
    "presets": [["@babel/preset-env", { "targets": "defaults" }], "@babel/preset-react"],
    "comments": false,
    "plugins": [
        "@babel/plugin-transform-runtime",
        "transform-dev"
    ],
    "env": {
        "production": {
            "compact": true
        },
        "development": {
            "sourceMaps": "inline"
        }
    }
}
